.env
.env.*
!.env.example
.DS_Store
.vscode
.idea
.cursor
.cursorrules
.cursorignore
.cursorignorerules
.cursorignorerulesrules
.cursorignorerulesrulesrules
.cursorignorerulesrulesrulesrules
.cursorignorerulesrulesrulesrulesrules
broadcast/

# Foundry generated artifacts/cache
cache/
out/